<div class='exchange_box col-sm-12'>
  <div class='card'>
    <div class='card-header text-center'>
      Simule sua conversão
    </div>
    <div class='card-block'>
      <%= form_tag('/convert', method: :get, id: 'exchange_form') do %>
        <div class='local_currency row'>
          <div class='form-group col-sm-2'>
            <p class='title'>Valor</p>
            <input type='number' name='amount' id='amount' class='form-control' placeholder='Quantidade ($10)' step='any' required>
          </div>
          <div class='form-group col-sm-3'>
            <p class='title'>Moeda Local</p>
            <%= select_tag 'source_currency', options_for_select(currency_list, 'BRL'), class: 'form-control', id: 'source_currency' %>
          </div>
          <div class='form-group col-sm-1'>
            <p class='title'>&nbsp;</p>
            <a id="change" class="btn"><img src="/change.png" alt="Inverter Moedas" class="img-fluid change"></span></a>
          </div>
          <div class='form-group col-sm-3'>
            <p class='title'>Moeda Pretendida</p>
            <%= select_tag 'target_currency', options_for_select(currency_list, 'EUR'), class: 'form-control', id: 'target_currency'%>
          </div>
          <div class='form-group col-sm-3'>
            <p class='title'>&nbsp;</p>
            <input type='text' id='result' name='result' class='form-control' placeholder='Resultado' readonly>
          </div>
          <div>
          <button type='submit' style="opacity: 0; height: 0;">CONVERTER</button>
      <% end %>
    </div>
  </div>
</div>

