<div class='container'>
  <div class='row main'>
    <div class='col-lg-11 offset-lg-1 col-md-10 offset-md-1 exchange_box'>
      <div class='row'>
          <div class='col-md-8 offset-md-2 text-sm-center'>
            <%= image_tag '/logo.png', class: 'img-fluid logo'%>
          </div>
      </div>

      <div class='row'>
        <%= render 'exchange_box' %>
      </div>
    </div>

  </div>
</div>