
@media only screen and (max-width : 420px) {
    #myVideo{
        display: none !important;
    }
    .logo{
        margin-top: 15px !important;
    }
}

body {
    background: image-url("/background-img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    #myVideo{
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%; 
        height: auto;
    }
}

.main{
    margin-top: 50px;
}


.title-box{
    margin-top: 20%;
    
    .title{
        color: white;
        text-shadow: 2px 0px 2px #000000;
    }
    
    .subtitle{
        color: white;
        text-shadow: 3px 0px 3px #000000;
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


.exchange_box{
    margin: 10px auto;
    .logo-box{
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .logo{
        margin-top: 25%;
    }
    .change{
        margin-top: -10px;
        padding: 1px;
        border: 1px solid #777;
        min-width: 37px;
    }
}